%TMPL:INCLUDE{"viewprint"}%
%TMPL:DEF{"logo"}%%TMPL:END%

%{ Do not load javascripts }%
%TMPL:DEF{"script"}%%RENDERZONE{"script" format=""}%%TMPL:END%


%TMPL:DEF{"bodyclassname"}%patternViewPage patternPrintPage%TMPL:END%


%{ DEPRECATED: beforetext and aftertext }%
%{ compatibility transition older than 4.2: }%
%TMPL:DEF{"contentheader"}%%TMPL:P{"beforetext"}%%TMPL:END%
%TMPL:DEF{"contentfooter"}%%TMPL:P{"aftertext"}%%TMPL:END%
%TMPL:DEF{"beforetext"}%%TMPL:END%
%TMPL:DEF{"aftertext"}%%TMPL:END%

%TMPL:DEF{"patterntopiccontents"}%
%TMPL:P{"contentheader"}%%TMPL:P{"formtop"}%%TMPL:P{"attachmentstop"}%<div class="patternContent">%TMPL:P{"content"}%
%TMPL:DEF{"topicinfo"}%%TMPL:END%


%TMPL:DEF{"content"}%%TEXT%
