%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"contentheader"}%%INCLUDE{"%SYSTEMWEB%.JQueryMenuSkinBar"}%%TMPL:END%
%TMPL:DEF{"top"}%<span class="foswikiLeft breadcrumb">%TMPL:P{"breadcrumb"}%</span>%TMPL:END%
%TMPL:DEF{"top:toolbarbuttons"}%%TMPL:END%
%TMPL:DEF{"patternTopBarContents"}%%TMPL:END%
