%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"breadcrumb:wikitoolname"}%[[%USERSWEB%.%HOMETOPIC%][%WIKITOOLNAME% Home]]%TMPL:END%

%TMPL:DEF{"contentheader"}%
%JQREQUIRE{"supersubs"}%%JQREQUIRE{"bgiframe"}%%ADDTOZONE{
    "head" text="<link rel='stylesheet' href='%IF{"defined JQUERYMENUSKINCSS and $ JQUERYMENUSKINCSS" then="%JQUERYMENUSKINCSS%" else="%PUBURLPATH%/%SYSTEMWEB%/JQueryMenuSkinBarDefault/menu.css"}%' type='text/css'/>"}%
%ADDTOZONE{ "script" text="<script type='text/javascript'>
jQuery(document).ready(function(){
    jQuery('#jqmenu').supersubs({
        minWidth: 12, /* minimum width of sub-menus in em units */
        maxWidth: 30, /* maximum width of sub-menus in em units */
        extraWidth: 1 /* extra width can ensure lines don't sometimes turn over
                         due to slight rounding differences and font-family */
    });
    jQuery('#jqmenu').superfish({
        delay:  500
    });
    jQuery('#jqmenu').bgIframe({opacity:false});
});

</script>"
requires="JQUERYPLUGIN::SUPERSUBS,JQUERYPLUGIN::BGIFRAME"
}%<div id="menu_container">%INCLUDE{"%IF{"defined JQUERYMENUSKINBAR and $ JQUERYMENUSKINBAR" then="%JQUERYMENUSKINBAR%" else="%SYSTEMWEB%.JQueryMenuSkinBarDefault"}%" raw="on" warn="<div class='menu_missing'>The <nop>JQueryMenuSkin menu configuration topic could not be found</div>"}%</div></div>
<div style="clear: left;" />%TMPL:END%%TMPL:DEF{"top"}%<span class="foswikiLeft breadcrumb">%TMPL:P{"breadcrumb"}%</span>%TMPL:END%
%TMPL:DEF{"top:toolbarbuttons"}%%TMPL:END%
%TMPL:DEF{"patternTopBarContents"}%%TMPL:END%
