%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"contentheader"}%
<div style="clear: left;">%JQREQUIRE{"supersubs"}%%JQREQUIRE{"bgiframe"}%%ADDTOZONE{ 
    "head" text="<link rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/JQueryMenuSkin/menu.css' type='text/css'/>
          <link rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/JQueryPlugin/plugins/superfish/jquery.superfish-navbar.css' type='text/css'/>
          <link rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/JQueryPlugin/plugins/superfish/jquery.superfish-vertical.css' type='text/css'/>"
}%%ADDTOZONE{ "script" text="<script type='text/javascript'>
$(document).ready(function(){
    $('sf-menu').superfish({
        autoArrows:    true,
        delay:  1000
    });
    $('sf-menu').bgIframe({opacity:false});
});
</script>"
requires="JQUERYPLUGIN::SUPERSUBS,JQUERYPLUGIN::BGIFRAME"
}%%INCLUDE{"%IF{"defined JQUERYMENUSKINBAR and $ JQUERYMENUSKINBAR" then="%JQUERYMENUSKINBAR%" else="%SYSTEMWEB%.JQueryMenuSkinBarDefault"}%" raw="on" warn="<div class='menu_missing'>The <nop>JQueryMenuSkin menu configuration topic could not be found</div>"}%</div>
<div style="clear: left;" />%TMPL:END%
%TMPL:DEF{"top"}%<span class="foswikiLeft breadcrumb">%TMPL:P{"breadcrumb"}%</span>%TMPL:END%
%TMPL:DEF{"top:toolbarbuttons"}%%TMPL:END%
%TMPL:DEF{"patternTopBarContents"}%%TMPL:END%
